<table class="users-table">
    <thead>
        <tr>
            <th *ngFor="let col of usersColumns" (click)="switchSorting(col)">
                {{col}}
                <span *ngIf="isDescSorting(col)">▼</span>
                <span *ngIf="isAscSorting(col)">▲</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td *ngFor="let column of usersColumns">
                {{user[column]}}
            </td>

        </tr>
    </tbody>
</table>